<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<body>

<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <form th:action="@{/question/create}" th:object="${questionForm}" method="post">

        <!-- Subject Field -->
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" name="subject" id="subject" class="form-control" th:field="*{subject}">
            <div class="text-danger" th:text="${subjectError}"></div>
        </div>

        <!-- Content Field -->
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea name="content" id="content" class="form-control" rows="10" th:field="*{content}"></textarea>
            <div class="text-danger" th:text="${contentError}"></div>
        </div>

        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</body>
</html>
